<p>Nombre del empleado: {{ nombre }}</p>
<p>Apellido del empleado: {{ apellido }}</p>
<p>Edad del empleado: {{ edad<18 ? "Es menor de edad": "Es mayor de edad" }}</p>
<p>Empresa del empleado: {{ empresa.value }}</p>

<p>
    Introduce la empresa:
    <!-- #empresa es como si fuera id="empresa" -->
    <input type="text" #empresa (keyup)="0" [disabled]="statusInputText">

</p>
<p>{{ txtLogueado }}</p>
<p>
  Logueado: <input type="radio" value="S" name="rdLogin" id="rdLogin" [checked]="userLogged" (click)="showUserChecked($event)"><br>
  No Logueado: <input type="radio" value="N" name="rdLogin" (click)="showUserChecked($event)"><br>

  <!-- llamar a una función del TS -->
  {{ activarUser() }}
</p>



